.button-eliminar{
    position:static;
    left: 1215px;
    bottom: 100px;
}

.alert-custom-modificar{
    padding-top: 10px;
    
}

.contenedor-modificar{
  
    height: 80vh;
    
    
}